{% extends 'base.html' %}

{% block title %}{{article.a_title}}{% endblock %}

{% block content %}

    <h2>Create new article!</h2>
    <p>{{ curtime }}</p><br><br>

    <form action="{% url 'articles:new_article_create' %}" method="POST">

        {% csrf_token %}

        <input type="text" required placeholder="Article Title" name="title"><br>
        <textarea name="content" required="" placeholder="Article content" cols="150" rows="50"></textarea><br>
        <button type="submit">Confirm article</button>
    </form>

{% endblock %}